<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="aplicaCssErro('nome')">
        <div class="col-sm-12">
            <label for="nome">Nome</label>
        </div>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
            <app-error-msg [control]="nome" label="Nome"></app-error-msg>
    
        </div>
        
    </div>
    <div class="form-group" [ngClass]="aplicaCssErro('email')">
        <div class="col-sm-12">
            <label for="email">Email</label>
        </div>
        <div class="col-sm-12">
            <input type="email" class="form-control" id="email" placeholder="exemplo@email.com" formControlName="email" >
            <app-campo-control-erro [mostrarErro]="!formulario.controls['email'].valid && formulario.controls['email'].touched" msgErro="Email é obrigatório."></app-campo-control-erro>
        </div>
    </div>
    <div class="form-group" [ngClass]="aplicaCssErro('confirmarEmail')">
        <div class="col-sm-12">
            <label for="confirmarEmail">Confirme o email</label>
        </div>
        <div class="col-sm-12">
            <input type="email" class="form-control" id="confirmarEmail" placeholder="exemplo@email.com" formControlName="confirmarEmail" >
            <app-campo-control-erro [mostrarErro]="!formulario.controls['confirmarEmail'].valid && formulario.controls['confirmarEmail'].touched" msgErro="Confirmar o email é obrigatório."></app-campo-control-erro>
        </div>
    </div>
    <div formGroupName="endereco">
        <div class="form-group">
            <div class="col-md-2" [ngClass]="aplicaCssErro('endereco.cep')">
                <label for="cep" class="control-label">Cep</label>
                <input type="text" (blur)="consultaCEP()" class="form-control" id="cep" formControlName="cep">
                <app-campo-control-erro 
    [mostrarErro]="!(formulario.get('endereco.cep')?.valid ?? true) && (formulario.get('endereco.cep')?.touched ?? false)" 
    msgErro="Cep é obrigatório.">
</app-campo-control-erro>
            </div>
            <div [ngClass]="aplicaCssErro('endereco.numero')">
                <div class="col-md-2">
                    <label for="numero" class="control-label">Número</label>
                <input type="text" class="form-control" id="numero"  formControlName="numero">
                <app-campo-control-erro [mostrarErro]="!(formulario.get('endereco.numero')?.valid ?? true) && (formulario.get('endereco.numero')?.touched ?? false)" msgErro="Número é obrigatório."></app-campo-control-erro>
                </div>
            </div>
            <div>
                <div class="col-md-2">
                    <label for="complemento" class="control-label">Complemento</label>
                    <input type="text" class="form-control" id="complemento"  formControlName="complemento">
                </div>
            </div>
        </div>
        <div class="form-group" [ngClass]="aplicaCssErro('endereco.rua')">
            <div class="col-sm-12">
                <label for="rua">Rua</label>
            </div>
            <div class="col-sm-12">
                <input type="text"  formControlName="rua" class="form-control" id="rua" placeholder="Rua">
            </div>
            <app-campo-control-erro [mostrarErro]="!(formulario.get('endereco.rua')?.valid ?? true) && (formulario.get('endereco.rua')?.touched ?? false)" msgErro="Rua é obrigatório."></app-campo-control-erro>
        </div>
        <div class="form-group" [ngClass]="aplicaCssErro('endereco.bairro')">
            <div class="col-md-5">
                <label for="bairro" class="control-label col-md-3">Bairro</label>
                <input type="text" class="form-control col-md-3" id="bairro"  formControlName="bairro">
                <app-campo-control-erro [mostrarErro]="!(formulario.get('endereco.bairro')?.valid ?? true) && (formulario.get('endereco.bairro')?.touched ?? false)" msgErro="Bairro é obrigatório."></app-campo-control-erro>
            </div>
            <div class="col-md-4">
                <label for="cidade" class="control-label col-md-3">Cidade</label>
                <select class="form-control" id="cidade" formControlName="cidade">
                    <option *ngFor="let cidade of cidades" [value]="cidade.nome">{{ cidade.nome }}</option>
                </select>
                <app-campo-control-erro [mostrarErro]="!(formulario.get('endereco.cidade')?.valid ?? true) && (formulario.get('endereco.cidade')?.touched ?? false)" msgErro="Cidade é obrigatório."></app-campo-control-erro>
            </div>
            <div class="col-md-3">
                <label for="estado" class="control-label col-md-3">Estado</label>
                <select class="form-control" id="estado" formControlName="estado">
                    <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</option>
                </select>
                <app-campo-control-erro [mostrarErro]="!(formulario.get('endereco.estado')?.valid ?? true) && (formulario.get('endereco.estado')?.touched ?? false)" msgErro="Estado é obrigatório."></app-campo-control-erro>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="checkbox">
                <label class="checkbox-inline">
                    <input type="checkbox" formControlName="termos">
                    Aceito os termos
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
    <button class="btn" (click)="resetar()">Cancelar</button>
    <app-form-debug [form]="formulario"></app-form-debug>
</form>
